{% extends 'base.html' %}

{% block content %}
<div class="main_word_page container py-4">
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <div class="row g-3">
                <div class="col-12">
                    <h2 class="searched_word mb-0">{{ word }} - {{ word_details['uzbek_translation'] }}</h2>
                </div>
                <div class="col-12">
                    <div class="row align-items-center g-2">
                        <div class="col-12 col-sm-6">
                            <audio controls>
                                <source src="{{ audio_url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle w-100" type="button" id="wordlistDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add to 
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="wordlistDropdown">
                                    {% for wordlist in wordlists %}
                                        {% if wordlist['title'].lower() != "history" %}
                                        <li>
                                            <a class="dropdown-item" href="{{ url_for('word.add_to_wordlist', wordlist_id=wordlist['id'], word_id=word_id) }}">
                                                {{ wordlist['title'] }}
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img src="{{ image[0][0] }}" alt="Description of the image" class="img-fluid rounded" style="max-height: 200px;">
            <p class="mt-2">{{ image[0][1] }}</p>
        </div>
    </div>

    <div class="my-3">
        <span class="pronounce d-block">US: {{ word_details['phonetics'][0] }}</span>
        <span class="pronounce d-block">UK: {{ word_details['phonetics'][1] }}</span>
    </div>

    <hr>

    <div class="definitions">
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <h3>Definitions</h3>
                <ul class="list-unstyled">
                    {% for item in word_details['definitions'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h3>Translated definitions</h3>
                <ul class="list-unstyled">
                    {% for item in word_details['definitions_uz'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-3">
        <div class="col-12">
            <h3>Word Relations</h3>
            <table class="word-relations-table">
                <tr>
                    <th>Synonyms</th>
                    <th>Antonyms</th>
                    <th>Paronyms</th>
                </tr>
                {% set max_length = [word_details['synonyms']|length, word_details['antonyms']|length, word_details['paronyms']|length]|max %}
                {% for i in range(max_length) %}
                    <tr>
                        <td>
                            {% if i < word_details['synonyms']|length %}
                                <a href="{{ url_for('word.search_word', word=word_details['synonyms'][i]) }}">{{ word_details['synonyms'][i] }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if i < word_details['antonyms']|length %}
                                <a href="{{ url_for('word.search_word', word=word_details['antonyms'][i]) }}">{{ word_details['antonyms'][i] }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if i < word_details['paronyms']|length %}
                                <a href="{{ url_for('word.search_word', word=word_details['paronyms'][i]) }}">{{ word_details['paronyms'][i] }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12">
            <div class="examples">
                <h3>Examples</h3>
                <div class="examples-container">
                    <ul class="list-unstyled m-0">
                        {% for item in word_details['examples'] %}
                            <li>{{ item['sentence'] }} <span class="word-class">({{ item['word_class'] }})</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}