{% extends 'base.html' %}



{% block content %}
<div class="wordlist-container container">
    <div class="wordlist-card">
        <div class="card-body">
            <h3 class="wordlist-title">{{ wordlist.title }}</h3>
            <hr>
            {% if items %}
                <ul class="list-group">
                    {% for item in items %}
                        <li class="list-group-item">
                            <span class="word-text">{{ item['word'] }} - {{ item['uzbek_translation'] }}</span>
                            <span class="word-date">
                                {% if item['created_at'] %}
                                    {{ item['created_at'] }}
                                {% else %}
                                    <!-- Placeholder if date isn't provided -->
                                    Added: Unknown Date
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="empty-message">This wordlist is empty.</p>
                <a href="{{ url_for('home') }}" class="btn btn-explore text-white">Explore New Words</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}