{% extends 'base.html' %}



{% block content %}
<div class="register-container mt-5 mb-5">
    <h2>Register</h2>
    <form class="register-form" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="first_name" required>
            <label for="firstName">First Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="last_name" required>
            <label for="lastName">Last Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
            <label for="password">Password</label>
        </div>

        <button type="submit" class="btn w-100 register-button text-white">Register</button>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
    </div>
</div>
{% endblock %}